
/* For any developers in the future who reference this: I apologize for the overly specific CSS targets, but we're fighting uphill against pre-existing styling so better safe than sorry if Litmos changes any of their stock CSS. */

/* Feel free to email me at hello@nathanbel.com if you need any of the assets or anything */

/* 
font-family: 'Patua One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;
 */

body {
  font-family: 'Lato', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  background-color: #696b6b;
}

*/


/* 
  LOGIN PAGE STYLES
*/

.loginBg {
  background: none;
  background-image: url(https://i.imgur.com/YXK0H8V.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.login-zone {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 600px;
}

.login-zone .login-box {
  max-width: 50vw;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
  max-height: 100vh;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login-zone .login-box .login-failed {

  padding-top:30px;
  padding-bottom: 30px;
  background: #f6cd15;
  color: #777777;
  margin-bottom: 50px;
  

}

.login-zone .login-box .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
}

.login-zone .login-box .row .login-welcome {
  width: 100%;
}

.login-welcome .info {
  font-size: 18px;
  font-weight: 400;
  max-width: 500px;
}

.login-form .login-field input {
  font-weight: 400;
}

.login-form .login-button input {
  background: #f6cd15;
  color: #777777;
  border-radius: 0;
}

.login-zone .login-box .login-form {
  align-self: flex-start;
  width: 100%;
}

.login-zone .login-box .login-form .login-cbx {
  text-align: left;
}

.login-form .login-cbx label {
  font-size: 13px;
  font-weight: 400;
}

.login-form .input-lg {
  font-size: 14px;
}

.login-form .login-forgot a {
  font-size: 13px;
  font-weight: 400;
}

.login-box .login-welcome {

    font-family: Roboto;

}

.login-box {
    color: #696969;
    font-weight: 700;
    max-width: 600px;
}

.login-box h1 {
    font-weight: 700;
}

/* 
  SELF-SIGNUP PAGE
*/


.loginBg .logoBg {
  display: none;
}

#ecommBody.loginBg #titlebar-self-signup {
  display: none;
}

#ecommBody.loginBg {
  background: none;
  background-color: #262626 !important;
  background-image: url(https://i.imgur.com/YXK0H8V.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#ecommBody.loginBg .signup-contain {
  position: relative;
  top: -50px;
  margin-bottom: 20px;
}

#ecommBody.loginBg #signupForm {
  display: flex;
}

#ecommBody.loginBg .signup-contain {
  border-radius: 0;
  box-shadow: none;
}

#ecommBody.loginBg #signupForm h1 {
  font-family: Roboto;
  font-weight: 300;
}

#ecommBody.loginBg #signupForm label {
  font-weight: 300;
  font-family: Roboto;
}

#ecommBody.loginBg #signupForm h2 {
  font-weight: 300;
  font-family: Roboto;
}

#ecommBody.loginBg #signupForm .pull-right {
  float: left !important;
}

#ecommBody.loginBg #signupForm button {
  background: #f6cd15;
  color: #777777;
  border-radius: 0;
  font-family: Roboto;
  font-weight: 300;
}



/* 
  INSTRUCTOR VIEW STYLES
*/

header.custom-header-interior {
  margin-left: 25px;
  max-width: 650px;
  margin-right: 45px;
}

header.custom-header-interior h2 {
  font-family: Patua One;
  font-size: 56px;
  text-align: left;
}

.fd-shellbar {
  background-color: #7a7a7a;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Patua One', cursive;
  color: #464646 !important;
}

.navbar-nav .litmos-small-header {
  font-family: Roboto;
}

.litmos-sub-nav li a {
  font-family: Patua One;
  color: #7a7a7a;
  letter-spacing: 1px;
}

.litmos-sub-nav .active {
  border-bottom: 2px solid #f6cd15;
}

.coursesFullScreen {
  margin-top: 20px;
}




/* 
  Custom Header
*/

#titlebar {
  padding-top: 180px;
  padding-bottom: 150px;
  background: url('https://fullcircleconnections.ca/wp-content/uploads/2018/02/training.jpg');
}


/* 
  Admin styling (minimal)
*/

#adminBannerContainer {
  position: relative;
  top: 25px;
}


/* Original Styles */




/* 
.loginBg {
    background: none;
    background-color: #262626 !important;
    background-image: url(https://i.imgur.com/YXK0H8V.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }

.login-box {
  background-color: #ffcc00e6;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: bottom left 20px;
  padding: 21px;
  margin: 300px 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0,0,0,0.25) 4px 4px 5px;
  -moz-box-shadow: rgba(0,0,0,0.25) 4px 4px 5px;
  box-shadow: rgba(0,0,0,0.25) 4px 4px 5px;
  border: solid 1px #505050;
}


body {
  font-family: '72 Regular', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #333;
  background-color: #f3f6f7;
}

.admin-toolbar-bg, .super-nav-bg {
  background-color: #9e9e9e00;
  color: #ffffff;
}

.signup-contain {
  width: 800px;
  margin: 0 auto !important;
  background-color: #ffcc00;
  padding: 20px;
  margin: 10px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 5px;
  border: solid 1px #dcdcdc;
}



*/